/* ================================================= */
/* RESET */
/* ================================================= */

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

/* ================================================= */
/* HTML */
/* ================================================= */

html{

    scroll-behavior:smooth;

}

/* ================================================= */
/* BODY */
/* ================================================= */

body{

    font-family:
    "Inter",
    sans-serif;

    background:
    var(--bg);

    color:
    var(--text);

    overflow-x:hidden;

}

/* ================================================= */
/* IMAGES */
/* ================================================= */

img{

    display:block;

    max-width:100%;

}

/* ================================================= */
/* LINKS */
/* ================================================= */

a{

    text-decoration:none;

}

/* ================================================= */
/* BUTTON */
/* ================================================= */

button{

    font-family:inherit;

}

/* ================================================= */
/* CONTAINER */
/* ================================================= */

.container{

    width:100%;

    max-width:1200px;

    margin:auto;

    padding-inline:20px;

}

/* ================================================= */
/* SECTION */
/* ================================================= */

.section{

    padding:120px 0;

}

/* ================================================= */
/* TITLES */
/* ================================================= */

.section-title{

    font-size:3rem;

    line-height:1.2;

    margin-bottom:20px;

}

.section-subtitle{

    max-width:700px;

    color:var(--muted);

    line-height:1.9;

    margin-bottom:50px;

}

.section-label{

    color:var(--primary);

    font-weight:700;

    letter-spacing:4px;

    margin-bottom:20px;

}

/* ================================================= */
/* HIDDEN */
/* ================================================= */

.hidden{

    opacity:0;

    transform:translateY(50px);

    transition:1s ease;

}

/* ================================================= */
/* SHOW */
/* ================================================= */

.show{

    opacity:1;

    transform:translateY(0);

}