<nav class="navbar">

    <div class="container navbar-container">

        <!-- LOGO -->

        <a
            href="#hero-section"
            class="navbar-logo"
        >

            Kim Julius Marin

        </a>

        <!-- NAVIGATION -->

        <div class="navbar-links">

            <a href="#about-section">
                About
            </a>

            <a href="#skills-section">
                Skills
            </a>

            <a href="#experience-section">
                Experience
            </a>

            <a href="#projects-section">
                Projects
            </a>

        </div>

        <!-- MOBILE BUTTON -->

        <button
            class="menu-toggle"
            id="menuToggle"
        >

            ☰

        </button>

    </div>

    <!-- MOBILE MENU -->

    <div
        class="mobile-menu"
        id="mobileMenu"
    >

        <a href="#about-section">
            About
        </a>

        <a href="#skills-section">
            Skills
        </a>

        <a href="#experience-section">
            Experience
        </a>

        <a href="#projects-section">
            Projects
        </a>

    </div>

</nav>